<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form>
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Password"
        >
      </div>
      <button type="submit" class="btn btn-primary btn-sm btn-block">Sign-in</button>
    </form>
    <hr />

    <p class="small text-danger text-center">You have entered a wrong e-mail or pessword or this user account dont exist.</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Already don't have account? <a href="#" class="card-link">Sing-up</a>
    </p> 
  </div>
</div>